* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.heading {
    height: 64px;
    background-color: azure;
    width: 100%;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 5px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.app-main {
    height: 320px;
    width: 100%;
    text-align: center;



}

.searchInputBox {
    height: 160px;


}


#input-box {
    height: 60px;
    width: 40%;
    margin-top: 60px;
    font-size: 32px;
    border-radius: 10px;

}

.weather-body {
    height: 100vh;
    width: 100%;

    font-weight: 600;
    font-size: 64px;
}